body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, Arial, sans-serif;
  color: rgb(43, 43, 43);
}

#topBar {
  background-image: linear-gradient(
    to right,
    rgb(24, 201, 133),
    rgb(25, 219, 203)
  );
  color: white;
  height: 150px;
  position: relative;
  font-weight: 600;
}

.title {
  padding: 40px 0px 5px 70px;
  font-size: 35px;
  font-weight: 600;
}

.subtitle {
  padding: 0em 0px 5px 72px;
  font-size: 22px;
  color: rgba(255, 255, 255, 0.877);
}

#booksTitleLabel {
  padding: 20px 0px 20px 70px;
  font-size: 35px;
}

#booksTitleLabel,
#newBookButton,
th,
.formSubtitle,
#formTitle,
.formButton {
  font-weight: 600;
}

#tableContainer {
  padding-left: 70px;
}

table {
  border-collapse: collapse;
}

td,
th {
  padding: 8px 20px 8px 5px;
  vertical-align: middle;
  font-size: 18px;
}

th {
  text-align: left;
  border-bottom: solid 2px #b1b1b1;
}

td {
  border-top: solid 1px #b1b1b1;
}

tbody > tr > :nth-child(1),
thead > tr > :nth-child(1) {
  padding-left: 15px;
}

thead > tr > :nth-child(4),
.status,
select {
  text-align: center;
}

#newBookButton {
  margin: 20px 0px 0px 70px;
  font-size: 18px;
}

#addBookButton {
  margin: 5px;
}

#newBookButton,
#addBookButton {
  color: white;
  height: 46px;
  padding: 0px 15px 0px 15px;
  float: left;
  line-height: 46px;
  background-color: rgb(24, 201, 133);
  border-radius: 5px;
  text-align: center;
}

#newBookButton:hover,
#addBookButton:hover {
  background-color: rgb(10, 187, 119);
}

#cancelButton {
  color: black;
  height: 46px;
  padding: 0px 15px 0px 15px;
  line-height: 46px;
  background-color: #ebebeb;
  border-radius: 5px;
  text-align: center;
}

#formButtons {
  width: 100%;
  margin: 10px;
}

#addBookButton,
#cancelButton {
  float: none;
  display: inline-block;
}

#inputForm {
  position: absolute;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  top: 125px;
  z-index: 3;
  left: 50%;
  margin-left: -150px;
  display: none;
}

#formTitle {
  font-size: 35px;
  margin: 20px 0px 20px 15px;
}

.formSubtitle {
  font-size: 22px;
  margin: 15px 0px 10px 15px;
}

input[type="text"] {
  width: 270px;
  margin: 0px 15px 0px 15px;
  height: 25px;
  border: solid 1px black;
  border-radius: 3px;
}

.removeOuter {
  padding: 8px 10px 8px 5px;
}

.removeButton {
  border-radius: 5px;
  padding: 8px 10px 8px 10px;
  text-align: center;
  background: #ebebeb;
}

.removeButton:hover,
#cancelButton:hover {
  background: #d4d4d4;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: not-allowed;
}

#selectMenu {
  margin: 0px 15px 0px 15px;
}
